.semesterSection {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  width: 50vw;
  justify-content: center;
  border-radius: 5px;
  align-items: start;
  background: linear-gradient(
    to left bottom,
    rgba(199, 242, 248, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
      270deg,
      rgba(199, 242, 248, 0.3),
      hsla(0, 0%, 100%, 0.7)
    );
    border-radius: 5px;
    height: 4rem;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    h1 {
      display: block;
      font-size: 1.5em;
      font-weight: 400;
    }
    button {
      bottom: 1rem;
      height: 2rem;
      width: 8rem;
      border: 1px solid rgba(109, 109, 109, 0.624);
      border-radius: 3px;
      background: linear-gradient(
        to left,
        rgb(162, 244, 255),
        rgb(199, 242, 248)
      );
      font-size: 1rem;
      color: rgb(35, 97, 133);
      cursor: pointer;
      transition: all 1s ease 0s;
      &:hover {
        background: #36aef3;
        color: white;
      }
    }
  }
  .semesters {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    height: 100%;
    width: 100%;
    overflow: auto;
    .semesterCard {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      align-items: flex-start;
      min-width: 20rem;
      height: 10rem;
      padding: 1.5rem;
      margin: 0.5rem 0.5rem;
      border-radius: 10px;
      background: linear-gradient(
        to left,
        rgb(219, 253, 255),
        rgb(245, 253, 255)
      );
      box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
      cursor: pointer;
      h2 {
        font-size: 0.9rem;
        font-weight: 600;
        padding: 5px 0px;
        color: black;
      }
      .semesterName {
        display: flex;
        justify-content: space-between;
        width: 100%;
        h1 {
          font-size: 1.1rem;
          font-weight: 600;
          padding: 5px 0px;
          color: black;
        }
      }
      .courseName {
        display: flex;
        width: 14rem;
        overflow: hidden;
        p {
          font-size: 0.8rem;
          padding-right: 5px;
          color: rgba(0, 0, 0, 0.644);
        }
      }
      .menu {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 20px;
        top: 0.5rem;
        right: 0.5rem;
        cursor: pointer;
        img {
          height: 20px;
        }
      }
    }
  }
}
