* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background: linear-gradient(to bottom, #beeef6, #bdedf5);
  font-family: "Ubuntu", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem;
  width: 100vw;
  height: 8vh;
  background-color: rgb(43, 37, 37);
  h1 {
    color: white;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    li {
      a {
        text-decoration: none;
        color: white;
      }
      list-style: none;
      color: white;
      cursor: pointer;
    }
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 2rem;
  gap: 2rem;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background: #313131;
  border-radius: 50px;
  cursor: pointer;
}
@import "cgpa";
@import "login";
@import "slider";
@import "signup";
@import "settings";
@import "semester";
@import "addWindow";
@import "academicInfo";
